<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue Backend</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" sizes="48x48" href="/public/logo-48.png">
    <% if(htmlWebpackPlugin.options.environment === 'production') { %>
    <% for(key in htmlWebpackPlugin.files.css){ %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
    <% } %>
    <% } %>
   </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>